@charset "utf-8";
@import url(../css/html5reset-1.6.1.css); /*reset css*/


/* Base */
html { font-family: "brandon-grotesque", "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;}
body { background-color: #3E4C75; color: #FCFCFC;}
h1 { font-size: 100%; margin: 0; }
img { vertical-align: middle; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

/* header */
#header {
    display: block;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 10;
}
#header > .inner {
    width: calc(100% - 300px);
    padding: 0 150px;
    margin: auto;
}
#header .logo {
    float: left;
    height: 24px;
    padding-top: 2px;
    margin-top: 38px;
}
#header .logo a {
    font-weight: 900;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 0.15em;
    text-decoration: none;
}
#header .logo a:visited {
    color: #FCFCFC;
}
#header.fixed {
    height: 80px;
    margin-top: 10px;
}
#header.fixed .inner {
    width: calc(100% - 200px);
    padding: 0;
    background: #FCFCFC;
    color: #3E4C75;
}
#header.fixed .logo a:visited {
    color: #3E4C75;
}
#header.fixed .logo {
    margin-top: 10px;
    margin-left: 50px;
}
#header.fixed .logo a {
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
}

/* main */
.main {
    display: block;
    width: calc(100% - 300px);
    margin: 0 auto;
    padding: 100px 150px;
    position: relative;
}
/* contact */
#contact {
    display: none;
    width: 100%;
    height: 100vh;
    background: url(../img/avatar_top_1.jpg);
    background-size: cover;
}
#contact .contact_inner {
    display: block;
    position: absolute;
    background-color: rgb(255,255,255,0.6);
    width: 60%;
    height: 80vh;
    top: 10vh;
    left: 20%;
    border-radius: 20px;
    overflow: scroll;
}
#contact h1 {
    display: block;
    color: #FCFCFC;
    background: #F571A3;
    width: 100%;
    height: 62px;
    border-radius: 20px 20px 0 0;
    font-size: 44px;
    line-height: 44px;
    letter-spacing: 0.1em;
    padding-top: 18px;
    text-align: center;
}
#contact form {
    display: block;
    width: 80%;
    margin: 50px auto;
}
#contact p label {
    display: none;
}
#contact p input, #contact textarea{
    display: block;
    width: 100%;
    height: 40px;
    margin: 0 auto 30px;
    border-radius: 5px;
    border: 2px solid #F571A3;
    background: transparent;
    color: #F571A3;
}
#contact p input:focus, #contact textarea:focus{
    outline: 0;
}
#contact p input::placeholder, #contact textarea::placeholder{
    color: #F571A3;
}
#contact .submit_btn {
    display: block;
    width: 60%;
    height: 40px;
    margin: 100px auto 0;
    background: #F571A3;
    color: #FCFCFC;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
}
#contact .submit_btn:hover{
   opacity: 0.8;
}
#contact .contact_toggle_btn {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 100px;
    right: 100px;
    cursor: pointer;
}
#contact .contact_toggle_btn span {
    display: block;
    width: 100%;
    background: #FCFCFC;
    border: 1px solid #FCFCFC;
}
#contact .contact_toggle_btn span:nth-child(1){
    transform: rotate(-45deg);
}
#contact .contact_toggle_btn span:nth-child(2){
    transform: rotate(45deg);
}
/* about btn */
.about_btn {
    display: block;
    position: fixed;
    z-index: 1100;
    color: #3E4C75;
}
.about_btn .circle_btn {
    display: block;
    position: absolute;
    width: 130px;
    height: 130px;
    top: calc(100vh - 150px);
    left: 150px;
    z-index: 1103;
    border: 10px solid #FCFCFC;
    border-radius: 50%;
}
.about_btn .about_menu {
    display: none;
    position: relative;
    width: auto;
    height: 75px;
    left: 200px;
    top: calc(100vh - 75px);
    padding: 0 50px 0 100px;
    background: #FCFCFC;
    border-radius: 75px;
    z-index: 1101;

}
.about_btn .about_menu p {
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.08em;
    margin-top: 28px;
    margin-right: 35px;
}
.about_btn .about_menu p span {
    font-weight: 900;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
}
.about_btn .about_menu p .view_about {
    cursor: pointer;
}
.about_btn .about_menu p .view_about:hover {
    color: #F571A3;
}
.about_btn .about_menu p .mark {
    font-size: 12px;
    letter-spacing: 0.1em;
}
.about_btn .separator {
    display: block;
    position: absolute;
    top: 37.5px;
    left: 225px;
    width: 20px;
    border: 1px solid #3E4C75;
    transform: rotate(90deg);
    z-index: 1102;
}
.about_btn ul {
    display: inline-block;
    list-style: none;
    margin-top: 25.5px;
}
.about_btn ul li {
    display: inline-block;
    margin-right: 30px;
}
.about_btn ul li:last-child {
   margin-right: 0;
}
.about_btn ul li a {
    text-decoration: none;
    color: #3E4C75;
    font-size: 30px;
}
.about_btn ul li a:visited {
    color: #3E4C75;
}
.about_btn ul li a:hover {
    color: #F571A3;
}

/* about */
.about {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0,0.6);
    z-index: 1200;
}
.about .about_inner {
    display: block;
    width: calc(100% - 120px);
    height: auto;
    margin: 0 auto;
    z-index: 1201;
}
.about .about_left {
    display: block;
    float: left;
    width: 50%;
    height: calc(100vh - 150px);
    margin: 100px 0;
    background-image: url(../img/avatar_top_1.jpg);
    background-size: cover;
    border-radius: 10px 0 0 10px;
    overflow: scroll;
}
.about .about_left .profile_pic {
    display: block;
    max-width: 280px;
    width: 35vh;
    max-height: 280px;
    height: 35vh;
    margin: 100px auto 0;
    border: 10px solid #FCFCFC;
    border-radius: 50%;
}
.about .about_left .profile {
    text-align: center;
}
.about .about_left .profile_text {
    display: block;
    margin: 50px auto;
}
.about .about_left .profile_text h1 {
    font-weight: 900;
    font-style: normal;
    font-size: 44px;
    letter-spacing: 0.1em;
}
.about .about_left .profile_text p {
    font-weight: 400;
    font-style: italic;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.1em;
}
.about .about_left .profile_link {
    list-style: none;
    margin-bottom: 50px;
}
.about .about_left .profile_link li {
    display: inline-block;
    margin-right: 30px;
}
.about .about_left .profile_link li:last-child{
    margin-right: 0;
}
.about .about_left .profile_link li a {
    text-decoration: none;
    color: #3E4C75;
    font-size: 40px;
}
.about .about_left .profile_link li a:visited {
    color: #3E4C75;
}
.about .about_left .profile_link li a:hover {
    color: #F571A3;
}
.about .about_right {
    display: block;
    float: right;
    width: 50%;
    height: calc(100vh - 150px);
    margin: 100px 0;
    background: #FCFCFC;
    border-radius: 0 10px 10px 0;
    color: #3E4C75;
    overflow: scroll;
}
.about .about_right h1 {
    width: 100%;
    border-bottom: 2px solid #3E4C75;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.15em;
}
.about .about_right h1 span {
    font-size: 24px;
    line-height: 24px;
    margin-right: 5px;
}
.about .about_right dl {
    margin-top: 15px;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 19px;
}
.about .about_right dl dt {
    float: left;
    margin: 0 8px 0 20px;
    letter-spacing: 0.08em;
}
.about .about_right dl dd {
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    letter-spacing: 0.1em;
}
.about .about_right .education {
    display: block;
    width: 80%;
    margin: 100px auto 30px;
}
.about .about_right .certification {
    display: block;
    width: 80%;
    margin: 0 auto 30px;
}
.about .about_right .thesis {
    display: block;
    width: 80%;
    margin: 0 auto 30px;
}
.about .about_toggle_btn {
    display: block;
    position: absolute;
    top: 150px;
    right: 110px;
    width: 50px;
    height: 50px;
    background: #FCFCFC;
    cursor: pointer;
    color: #3E4C75;
}

.about .about_toggle_btn span {
    display: block;
    position: absolute;
    width: 100%;
    background: #3E4C75;
    border: 2px solid #3E4C75;
    border-radius: 10px;
}

.about .about_toggle_btn span:nth-child(1) {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
    left: -1px;
}
.about .about_toggle_btn span:nth-child(2) {
    transform: rotate(45deg);
    top: calc(50% - 1px);
    left: -1px;
}



/* gallery */
.gallery {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.gallery_item {
    list-style: none;
    margin-top: 10px;
}
.gallery_item.is_loading {
    opacity: 0;
}
.gallery_item a {
    display: none;
}
.gallery_item .gallery_img {
    display: block;
}
.gallery_item .caption {
    display: none;
}

/* モーダルウィンドウ */
.gallery_item .content {
    display: none;
    position: absolute;
    width: calc(100% + 300px);
    z-index: 998;
    top: -110px;
    left: -150px;
    background-color: rgb(0,0,0,0.6);
    height: 100vh;
}
.gallery_item .content_inner {
    display: none;
    width: 80%;
    height: 100vh;
    margin: 100px 10%;
}
.gallery_item .content_left {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100vh;
    z-index: 1000;
    overflow-y: scroll;
}
.gallery_item .content_left img {
    width: 100%;
}
.gallery_item .content_right {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(60% - 170px);
    height: 100vh;
    z-index: 1001;
    padding-right: 170px;
    overflow-y: scroll;
}
.gallery_item .content_text {
    width: 100%;
    height: auto;
}
.gallery_item .content_text h1 {
    font-weight: 900;
    font-style: italic;
    margin: 260px 0 0 100px;
    font-size: 44px;
    line-height: 48px;
}
.gallery_item .content_text h1 span {
    font-weight: 300;
    font-style: italic;
    margin-left: 20px;
    font-size: 44px;
    line-height: 48px;
}
.gallery_item .content_text h2 {
    font-weight: 300;
    font-style: italic;
    margin: 6px 0 0 120px;
    font-size: 22px;
    line-height: 24px;
}
.gallery_item .content_text h3 {
    font-weight: 700;
    font-style: normal;
    margin: 6px 0 0 120px;
    font-size: 14px;
    line-height: 18px;
}
.gallery_item .content_text hr {
    width: calc(100% - 120px);
    margin: 5px 0 40px 120px;
}
.gallery_item .content_text p {
    font-weight: 300;
    font-style: normal;
    margin: 5px 0 0 140px;
    font-size: 12px;
    line-height: 14px;
}
.gallery_item .content_text ul {
    display: block;
    list-style-type: none;
    margin: 40px 0 0 140px;
}
.gallery_item .content_text li {
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    margin-right: 15px;
}
.gallery_item .content_text a {
    text-decoration: none;
    font-weight: 900;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.005em;
    margin-bottom: 4px;
}
.gallery_item .content_text .link_article_design, .gallery_item .content_text .link_article_coding, .gallery_item .content_text .link_article_workbook {
    font-size: 12px;
    line-height: 12px;
}
.gallery_item .content_text a:visited {
    color: #FCFCFC;
}
.gallery_item .content_text a i {
    font-size: 22px;
    line-height: 22px;
    margin-right: 5px;
}
.gallery_item .toggle_btn {
    display: block;
    width: 110px;
    height: 110px;
    position: absolute;
    cursor: pointer;
    z-index: 1100;
    top: 50px;
    right: 50px;
}
.gallery_item .toggle_btn span {
    display: block;
    width: 100%;
    background: #FCFCFC;
    border: 2px solid #FCFCFC;
    border-radius: 10px;
    position: absolute;
    z-index: 1101;
}
.gallery_item .toggle_btn span:nth-child(1) {
    transform:rotate(45deg);
    left: -1px;
    top: calc(50% - 1px);
}
.gallery_item .toggle_btn span:nth-child(2) {
    transform:rotate(-45deg);
    left: -1px;
    top: calc(50% - 1px);
}

/* フィルター */
.filter_form {
    float: right;
    margin-top: 40px;
}
.filter_form label {
    cursor: pointer;
    display: inline-block;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0.08em;
    height: 20px;
    font-size: 18px;
    padding-top: 2px;
    margin-right: 15px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}
.filter_form label :last-child {
    margin-right: 0;
}
.filter_form label .ui-icon {
    background: url(../img/item.png) no-repeat 0 0;
    background-position: -40px -10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 0;
    vertical-align: top;
}
.filter_form label.ui-state-active .ui-icon {
    background-position-x: -10px;
}
#header.fixed .filter_form {
    margin-top: 10px;
    margin-right: 50px;
}
#header.fixed .filter_form label {
    font-weight: 700;
    font-style: normal;
    height: 20px;
    font-size: 14px;
    padding-top: 3px;
    margin-right: 5px;
    letter-spacing: 0.05em;
}
#header.fixed .filter_form label .ui-icon {
    margin-top: -4px;
}

/* 追加読み込みボタン */
.more_btn {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    display: block;
    padding: 1em 0;
    width: 100%;
    margin-top: 10px;
}

/* jQuery UI helper */
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}