@charset "utf-8";
@import url(../css/html5reset-1.6.1.css); /*reset css*/


/* Base */
html { font-family: "brandon-grotesque", "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;}
body { background-color: #3E4C75; color: #FCFCFC;}
h1 { font-size: 100%; margin: 0; }
img { vertical-align: middle; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
/*
.inner {
  width: 100%;
  margin: auto;
}
.inner:after {
  content: "";
  clear: both;
  display: block;
}

font-family: brandon-grotesque, sans-serif;
font-weight: 900;
font-style: normal;

font-family: brandon-grotesque, sans-serif;
font-weight: 900;
font-style: italic;

font-family: brandon-grotesque, sans-serif;
font-weight: 300;
font-style: italic;
*/

/* header */
#header {
    display: block;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 10;
}
#header > .inner {
    width: calc(100% - 300px);
    padding: 0 150px;
    margin: auto;
}
#header .logo {
    float: left;
    height: 24px;
    padding-top: 2px;
    margin-top: 38px;
}
#header .logo a {
    font-weight: 900;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 0.15em;
    text-decoration: none;
}
#header .logo a:visited {
    color: #FCFCFC;
}

/* main */
.main {
    display: block;
    width: calc(100% - 300px);
    margin: 0 auto;
    padding: 100px 150px;
    position: relative;
}

/* gallery */
.gallery {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.gallery_item {
    list-style: none;
    margin-top: 10px;
}
.gallery_item.is_loading {
    opacity: 0;
}
.gallery_item a {
    display: none;
}
.gallery_item .gallery_img {
    display: block;
}
.gallery_item .caption {
    display: none;
}

/* モーダルウィンドウ */
.gallery_item .content {
    display: none;
    position: absolute;
    width: calc(100% + 300px);
    z-index: 998;
    top: -110px;
    left: -150px;
    background-color: rgb(0,0,0,0.6);
    height: 100vh;
}
.gallery_item .content_inner {
    display: none;
    width: 80%;
    margin: 100px 10%;
}
.gallery_item .content_img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    z-index: 1000;
}
.gallery_item .content_text {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(60% - 170px);
    z-index: 1001;
    padding-right: 170px;
}
.gallery_item .content_text h1 {
    font-weight: 900;
    font-style: italic;
    margin: 260px 0 0 100px;
    font-size: 44px;
    line-height: 48px;
}
.gallery_item .content_text h1 span {
    font-weight: 300;
    font-style: italic;
    margin-left: 20px;
    font-size: 44px;
    line-height: 48px;
}
.gallery_item .content_text h2 {
    font-weight: 300;
    font-style: italic;
    margin: 6px 0 0 120px;
    font-size: 22px;
    line-height: 24px;
}
.gallery_item .content_text h3 {
    font-weight: 700;
    font-style: normal;
    margin: 6px 0 0 120px;
    font-size: 14px;
    line-height: 18px;
}
.gallery_item .content_text hr {
    width: calc(100% - 120px);
    margin: 5px 0 40px 120px;
}
.gallery_item .content_text p {
    font-weight: 300;
    font-style: normal;
    margin: 5px 0 0 140px;
    font-size: 12px;
    line-height: 14px;
}
.gallery_item .content_text ul {
    display: block;
    list-style-type: none;
    margin: 40px 0 0 140px;
}
.gallery_item .content_text li {
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    margin-right: 15px;
}
.gallery_item .content_text a {
    text-decoration: none;
    font-weight: 900;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.005em;
    margin-bottom: 4px;
}
.gallery_item .content_text .link_article_design, .gallery_item .content_text .link_article_coding {
    font-size: 12px;
    line-height: 12px;
}
.gallery_item .content_text a:visited {
    color: #FCFCFC;
}
.gallery_item .content_text a i {
    font-size: 22px;
    line-height: 22px;
    margin-right: 5px;
}
.gallery_item .toggle_btn {
    display: block;
    width: 110px;
    height: 110px;
    position: absolute;
    cursor: pointer;
    z-index: 1100;
    top: 50px;
    right: 50px;
}
.gallery_item .toggle_btn span {
    display: block;
    width: 100%;
    border: 2px solid #FCFCFC;
    border-radius: 10px;
    position: absolute;
    z-index: 1101;
}
.gallery_item .toggle_btn span:nth-child(1) {
    transform:rotate(45deg);
    left: -1px;
    top: calc(50% - 1px);
}
.gallery_item .toggle_btn span:nth-child(2) {
    transform:rotate(-45deg);
    left: -1px;
    top: calc(50% - 1px);
}

/* フィルター */
.filter_form {
    float: right;
    margin-top: 40px;
}
.filter_form label {
    cursor: pointer;
    display: inline-block;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0.08em;
    height: 20px;
    font-size: 18px;
    padding-top: 2px;
    margin-right: 15px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}
.filter_form label.ui-state-focus {
    outline: 1px dotted;
}
.filter_form label .ui-icon {
    background: url(../img/sprites.png) no-repeat 0 0;
    display: inline-block;
    width: 20px;
    height: 18px;
    margin-right: 5px;
    margin-top: 2px;
    vertical-align: top;
}
.filter_form label.ui-state-active .ui-icon {
    background-position: -20px 0;
}

/* 追加読み込みボタン */
.more_btn {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    display: block;
    padding: 1em 0;
    width: 100%;
    margin-top: 10px;
}

/* jQuery UI helper */
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}